<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agento.mmcleaner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMCleaner">
        <activity
            android:name=".ui.optimized.AllCompleteActivity"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.optimized.PhoneNoOptimizedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.optimized.PhoneOptimizedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation"></activity>
        <activity
            android:name=".ui.main.SecondMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.clean.third_clean.ThirdCleanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.clean.third_clean.ThirdOptimizationEndActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.clean.second_clean.SecondCleanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.clean.second_clean.SecondOptimizationEndActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.clean.first_clean.FirstCleanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.clean.first_clean.FirstScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.clean.first_clean.FirstOptimizationEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.main.FirstMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.thanks.ThanksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MMCleaner.Animation" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"

            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111" />

        <receiver
            android:name=".util.widget.SimpleWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>

        <service android:name=".util.widget.UpdateService" />

        <!-- notifications -->

        <activity
            android:name=".ui.notifications.ui.NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/NotificationActivityStyle" />

        <service
            android:name=".ui.notifications.ui.NotificationService"
            android:exported="false" />

        <receiver
            android:name=".ui.notifications.ui.NotificationService$ServiceRestartReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.notifications.ui.NotificationService$LanternReceiver"
            android:exported="false" />

        <receiver
            android:name=".ui.notifications.utils.receivers.ActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".ui.notifications.utils.receivers.DailySchedule$DailyScheduleReceiver"
            android:exported="false" />

    </application>

</manifest>